hello-app/src/main/mule/hello-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="edbab18b-0acb-4baf-8951-ab98c4bf60e6" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="hello-appFlow" doc:id="1fb0b447-605e-49da-8c33-0f8987f71a28" >
		<http:listener doc:name="Listener" doc:id="7131f657-de8f-475e-b62d-6ccd944a1117" config-ref="HTTP_Listener_config" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="f7cd632b-3763-4d9a-bc47-fa187715328b" message="Started"/>
		<set-payload value="#['Hello World']" doc:name="Set Payload" doc:id="edde62b5-4ab7-4f8d-b125-5daee540624c" />
	</flow>
</mule>
